* {
  padding: 0;
  margin: 0;
}
.header {
  height: 5rem;
  margin: 1rem;
  background: #d9d9d9;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header--raio-btn {
  display: flex;
  align-items: center;
  gap: 0.35rem;
}

.radio-label {
  margin-left: 0.3rem;
  margin-bottom: 0.3rem;
}

.footer {
  width: 100%;
  height: 6.5rem;
  box-sizing: border-box;
  padding: 1rem;
}

.footer--container {
  width: 100%;
  height: 100%;
  background: #d9d9d9;
  border-radius: 20px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.footer--container > a {
  color: #5a5959;
  text-decoration: none;
}

.center {
  justify-content: center;
  align-items: center;
}

.top-right {
  justify-content: flex-end;
  align-items: flex-start;
}
.top-left {
  justify-content: flex-start;
  align-items: flex-start;
}
.bottom-right {
  justify-content: flex-end;
  align-items: flex-end;
}
.bottom-left {
  justify-content: flex-start;
  align-items: flex-end;
}

.box {
  width: 340px;
  height: 240px;
  cursor: pointer;
  background: #000000;
  border-radius: 20px;
}

.main-container {
  height: 70vh;
  margin: 1rem;
  background: #d9d9d9;
  display: flex;
  position: relative;
  border-radius: 20px;
}
